<div class="max-w-7xl mx-auto grid grid-cols-4 gap-8 px-4">
  <div class="col-span-1">
    <ul id="nav"
        class="nav navbar-nav">
      {{ nav from="/{segment_1}" max_depth="1" }}
      <li
          class="dropdown bg-gray-700 hover:bg-green-500 transition-background duration-300 {{ if is_current }}bg-green-700{{ /if }} text-base">
        <a class="w-full block px-4 py-1"
           href="{{ url }}">
          {{ title }}
        </a>
      </li>
      {{ /nav }}
    </ul>
  </div>
  <div id="content"
       class="col-span-3 text-base">
    <h1 class="text-4xl font-bold text-gray-600 mb-6">Galerija {{ title }}</h1>
    {{ bard_field }}
    <section class="mt-12 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8">
      {{ assets:gallery }}
      {{ responsive:url webp="true" avif="false" ratio="16/9" class="aspect-video glightbox rounded-md" data-gallery="gallery" }}
      {{ /assets:gallery }}
    </section>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script type="text/javascript">
  const lightbox = GLightbox();
</script>
